<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header(pageTitle)">
    <header class="p-3 mb-3 border-bottom bg-white shadow-sm">
        <div class="d-flex align-items-center justify-content-between">
            <!-- Botón de Sidebar y Título de la Página -->
            <div class="d-flex align-items-center">
                <button id="open-sidebar" class="btn btn-light d-md-none me-3 p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg>
                </button>
                <h1 class="h3 mb-0 fw-bold" th:text="${pageTitle}">Título</h1>
            </div>

            <!-- Contenedor para los botones de la derecha -->
            <div class="d-flex align-items-center">
                <!-- Botón "Ir a Catálogo" -->
                <a th:href="@{/catalogo}" class="btn btn-outline-primary me-3">
                    <i class="bi bi-shop me-1"></i> Ir a Catálogo
                </a>

                <!-- Menú de Usuario -->
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle me-2" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                        <span th:if="${session.usuarioLogueado != null}" th:text="${session.usuarioLogueado.nombre}"></span>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

</body>
</html>
